:root {
    --greyish-brown: #555555;
    --greyish-brown-two: #525252;
    --soft-blue: #5a87f1;
    --light-periwinkle: hsl(222, 100%, 88%);
    --pale-grey: #e5edff;
    --carolina-blue: #95b0ef;
    --black: #252525;
    --mid-blue: #295aaa;
    --lightish-blue: #4468ff;
    --brown-grey: #7a7a7a;
    --french-blue: #4155a8;
    --very-light-pink: #dcdcdc;

    --wrap-width: 950px;
    --mobile-bottom-padding: 38px;

    --contents-max-width: 1000px;
    --contents-min-width: 360px;
    --tab-button: #6ca2f9;
    --salmon: #ff7070;
    --pale-teal: #83cda4;

}

@media only screen and (max-width: 768px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-mobile-col {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width:768px) {
    .flex-row-mobile-col {
        flex-direction: column;
    }
}