<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>idol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/default.css">
    <link rel="stylesheet" type="text/css" media="screen" href="./idol-list.css">
  </head>
  
  <body>
    <script src='../js/parseApis.js'></script>
    <script src='./idol-list.js'></script>
    <div class="img-title-tag-list" id="dynamic-list"></div>
    <div class="body">
      <div class="contents">
        <h1>idol-list</h1>
        <div class="img-title-tag-list">
  
          <div class="item row-container">
            <img src="../images/image-idol.jpg" class="profile">
            <div class="column-container">
              <div class="title idol-Name">Sana</div>
              <div class="tags Hashtag">
                <span class="tag">Twice</span>
              </div>
            </div>
            <div class="subinfo-container">
              <span class="Header-Selected">$1000</span>
            </div>
          </div>
  
          <div class="item row-container">
            <img src="../images/image-idol.jpg" class="profile">
            <div class="column-container">
              <div class="title idol-Name">Sana</div>
              <div class="tags Hashtag">
                <span class="tag">Twice</span>
              </div>
            </div>
            <div class="subinfo-container">
              <span class="Header-Selected">$1000</span>
            </div>
          </div>
      </div>
  
    </div>
  </body>
  
  <script>
  </script>